body {
  font-family: "Montserrat", sans-serif;
  color: #293651;
  text-align: justify;
}

/* SEÇÃO 1 */

nav {
  background-color: #0cc0a5;
  border-radius: 5px;
  width: 100%;
  height: 100px;
}

nav a {
  display: inline-block;
  margin-top: 25px;
  padding: 8px;
  text-decoration: none;
  color: #293651;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 650;
}

.introducao_enzo {
  margin: 0 20%;
  font-size: 26px;
}

.intro {
  color: #00a78e;
  font-weight: 500;
}

.information {
  background-color: #00a78e;
  color: #f3f3f3;
  width: 225px;
  height: 50px;
  font-size: large;
  border-radius: 6px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.information:hover {
  background-color: #05c0a4;
}

.img_enzo {
  text-align: center;
}
.contrato {
  font-weight: bold;
  font-size: 5ex;
}

.bar {
  background-color: #00a78e;
  width: 35%;
}
progress::-webkit-progress-value {
  background-color: #00a78e;
}

/*SEÇÃO PROJETOS*/

.projetos {
  text-align: center;
  background-color: rgb(235, 232, 232);
  padding: 50px;
}

#projetos {
  display: block;
  font-size: 55px;
}

.caixa {
  display: inline-block;
  width: 450px;
  height: 450px;
  background-color: #ffffff;
  margin-top: 8px;
  margin: 70px;
  padding: 8px;
  border-radius: 5px;
  font-size: 22px;
  vertical-align: top;
}

.container {
  text-align: center;
  margin: 0 20%;
}
.caixa img {
  width: 85px;
  position: relative;
  right: 29%;
  top: 5%;
}

/*SEÇÃO CONTATOS*/

.regiao_contato {
  background-image: url(img/mapamundo.png);
  font-size: 26px;
  text-align: center;
  width: 80%;
  height: 250px;
  margin-left: 175px;
  padding: 20px;
  border-radius: 7px;
  background-color: #1ecab0;
}

/*SEÇÃO RODAPÉ*/

.rodape {
  width: 100%;
  height: 250px;
  text-align: center;
  font-size: 28px;
  background-color: rgb(235, 232, 232);
  padding: 70px;
}

.icones {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.71);
}
.icones img {
  width: 35px;
}

.icones:hover {
  background-color: rgb(198, 198, 198);
}
.introducao_enzo,
.progessbar,
.projetos,
.regiao_contato {
  margin-bottom: 90px;
}
