body {
  font-family: "Montserrat", sans-serif;
  color: #293651;
  text-align: justify;
}

/* SEÇÃO 1 */

.menu {
  padding: 5px 10px;
  margin: 0;
  border: 0px solid #f00;
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #c4f6e6 0,
    #b2f0e2 12.5%,
    #90e3cb 25%,
    #79c7b0 37.5%,
    #3aad96 50%,
    #4bd6ac 62.5%,
    #15d6b9 75%,
    #00d8b8 87.5%,
    #00d9bc 100%
  );
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 100px;
}
.introducao_enzo {
  margin: 0 20%;
  font-size: 20px;
}

.intro {
  color: #00a78e;
  font-weight: 500;
}

.information {
  background-color: #00a78e;
  color: #f3f3f3;
  width: 225px;
  height: 50px;
  font-size: large;
  border-radius: 6px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.information:hover {
  background-color: #05c0a4;
}

.img_enzo {
  text-align: center;
}
.contrato {
  font-weight: 500;
}

.progressbar {
  width: 520px;
}

.tutu {
  background-color: #00a78e;
}
progress::-webkit-progress-value {
  background-color: #00a78e;
}

/*SEÇÃO PROJETOS*/

.projetos {
  text-align: center;
  background-color: rgb(235, 232, 232);
  padding: 50px;
}

#projetos {
  display: block;
  font-size: 30px;
}

.caixa {
  display: inline-block;
  width: 450px;
  height: 450px;
  background-color: #ffffff;
  margin-top: 8px;
  margin: 60px;
  border-radius: 5px;
  font-size: 18px;
  vertical-align: top;
}

.container {
  text-align: center;
  margin: 0 150px;
}
.caixa img {
  width: 85px;
  position: relative;
  right: 29%;
  top: 5%;
}

/*SEÇÃO CONTATOS*/

.regiao_contato {
  background-image: url(img/mapamundo.png);
  font-size: 22px;
  text-align: center;
  width: 80%;
  height: 250px;
  margin-left: 175px;
  padding: 20px;
  border-radius: 7px;
  background-color: #1ecab0;
}

/*SEÇÃO RODAPÉ*/

.rodape {
  width: 100%;
  height: 250px;
  text-align: center;
  font-size: 28px;
  background-color: rgb(235, 232, 232);
  padding: 70px;
}

.icones {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.icones img {
  width: 35px;
}
.introducao_enzo,
.progessbar,
.projetos,
.regiao_contato,
.rodape {
  margin-bottom: 90px;
}
